<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JS Playground</title>
    <style>    /* The format for the clock object       */
        #clock { /* for an id="clock" property in a tag */
            font: bold 24px sans-serif; /* font */
            background: #ddf; /* background color of the clock */
            padding: 15px; /* space around the clock */
            border: solid black 2px; /* border */
            border-radius: 10px; /* will round corners of the clock object */
        }
    </style>
</head>
<body>
Hi! My name is <span id="name">Juan</span><br>
What is my name? <span id="nameAnswer"></span><br>
My income is $<span id="income">120000</span><br>
I owe $<span id="tax"></span> in income tax


<script>
    let name=document.getElementById("name").textContent;
    document.getElementById("nameAnswer").textContent=name; 
    let income=parseFloat(document.getElementById("income").textContent);
    let tax=income*0.30;
    document.getElementById("tax").textContent = parseInt(tax);
    </script>
</body>
</html>