<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JS Playground</title>
</head>
<body>
Hello Javascript!

<script>let x=1;  console.log("The value of x is: ", x)</script>

<script>
    function probation(warn_level) {
        let scores = [["John", 78], ["Jing", 91], ["Jahangir", 82], ["Jana", 54]];
        let total_scores = 0;
        let names = [];
        for (let i = 0; i < scores.length; i++) {
            if (scores[i][1] < warn_level) {
                names.push(scores[i][0])
            }
            total_scores += scores[i][1]
        }
        return [names,total_scores]
    }
    console.log(probation(80));
</script>
</body>
</html>