<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JS Playground</title>
    <style>    /* The format for the clock object       */
        #clock { /* for an id="clock" property in a tag */
            font: bold 24px sans-serif; /* font */
            background: #ddf; /* background color of the clock */
            padding: 15px; /* space around the clock */
            border: solid black 2px; /* border */
            border-radius: 10px; /* will round corners of the clock object */
        }
    </style>
</head>
<body>
<script>
</script>
<h1>Enter percentage allocations to branches</h1>
<form action="" method="get">
    <table>
        <tr>
        <th>Branch name</th>
        <th>Allocated percent</th>
        </tr>
        <tr>
            <td>East Coast</td><td><input class="pct" type="text" name="ec" value="0.0" onchange="return update()"></td>
        </tr>
        <tr>
            <td>West Coast</td><td><input class="pct" type="text" name="wc" value="0.0" onchange="return update()"></td>
        </tr>
        <tr>
            <td>South West</td><td><input class="pct" type="text" name="sw" value="0.0" onchange="return update()"></td>
        </tr>
        <tr>
            <td>Central</td><td><input class="pct" type="text" name="ce" value="0.0" onchange="return update()"></td>
        </tr>
        <tr>
            <td>South East</td><td><input class="pct" type="text" name="se" value="0.0" onchange="return update()"></td>
        </tr>
        <tr>
            <td>Total</td><td><input id="total" type="text" name="ec" value=“0.0" readonly></td>
        </tr>
    </table>
</form>

<script>
function update() {
    let total=0;
    let all_pct_tags = document.getElementsByClassName("pct");
    for(let i=0;i<all_pct_tags.length;i++) {
        if (parseFloat(all_pct_tags[i].value)) {
            total += parseFloat(all_pct_tags[i].value);
        }
    }
    document.getElementById("total").value=total
}
</script>
</body>
</html>